.text-uppercase {
    color: white;
}

.text-reset {
    color: white !important;
}

.text-center > a {
    color: white !important;
}

.text-center > span {
    color: white !important;
}

.text-detail > p > a {
    color: white !important;
    text-decoration: none;
}
