* {
    font-family: sans-serif;
}
/* body{
    filter: blur(1px);
} */

.ad-banner > img {
    height: 175px;
}

.ad-banner-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-wrap {
    /* height: 400px; */
    /* background-color: white; */
    position: relative;
    margin-top: 50px;
}

.icon_1 {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(img/c-box-arc.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 50px;
    z-index: 2;
    /* background-color: red; */
}

.icon_blog {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffff;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.img {
    display: flex;
    justify-content: center;
    /* position: absolute;
    top: 531px;
    left: 300px; */
}

.bottom {
    background-color: #ffff;
    margin-top: 0px;
    /* height: 300px; */
}

.categories-name {
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}

.product-list {
    padding-top: 40px;
}
/* .upper{
    display: flex;
    justify-content: center;
} */
.card {
    border: none !important;
}

.card-body {
    padding: 0 !important;
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
}

.card-title {
    font-size: 15px;
}

.card-text {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.btn-primary {
    margin-top: 10px;
}

.price {
    display: flex;
    justify-content: space-between;
}

.old-price {
    color: grey;
    font-size: 15px;
    margin-right: 10px;
}

.new-price {
    color: red;
    text-decoration: none !important;
}

.row-flex {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.reviews-client {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #666;
    margin-top: 15px;
}

    .reviews-client .bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

        .reviews-client .bg img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(40%);
            vertical-align: middle;
        }

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviews-client .reviews-wrapper {
    position: relative;
    z-index: 2;
}

    .reviews-client .reviews-wrapper .label {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .reviews-client .reviews-wrapper .label span {
            color: #33c24e;
            font-size: 19px;
            font-weight: bold;
            margin: 0 15px;
            display: inline-block;
        }

    .reviews-client .reviews-wrapper b {
        display: block;
        flex: 1;
        height: 2px;
        opacity: 0.1;
        background-color: currentColor;
    }

.review-item {
    width: 100%;
    margin: 0 !important;
}

.list-reviews {
    margin-top: 50px;
}

    .list-reviews .review-item {
        position: relative;
        padding: 15px 15px 25px;
        margin-top: 40px;
    }

        .list-reviews .review-item .item {
            border: 1px solid rgba(255, 255, 255, 0.8);
            border-radius: 25px 0 25px 0;
            background-color: rgba(0, 0, 0, 0.313);
        }

            .list-reviews .review-item .item .avatar {
                width: 65px;
                height: 65px;
                overflow: hidden;
                background-color: #fff;
                border-radius: 50%;
                margin: -50px auto 15px;
                padding: 20px;
                max-width: 100%;
                position: relative;
            }

            .list-reviews .review-item .item .start {
                justify-content: center;
            }

                .list-reviews .review-item .item .start li {
                    color: #3bace1;
                }

            .list-reviews .review-item .item .text {
                color: #fff;
                font-style: italic;
                text-align: center;
                font-size: 13.1px;
            }

.auth-name {
    color: white;
}

.thumbnail-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-thumbnal {
    width: 100%;
}

    .img-thumbnal > img {
        width: 100%;
        height: 275px;
    }

.list-blog {
    margin-top: 25px;
}

.description > p {
    font-size: 13px;
}

.tittle > a {
    color: black;
    text-decoration: none;
    margin: 0;
    font-size: 16px;
}

.blog {
    margin-bottom: 25px;
}

.partners {
    padding: 30px 0;
}
/*shipping*/
.section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5px 60px 0;
}

    .section-title span {
        color: #33c24e;
        font-size: 19px;
        font-weight: bold;
        margin: 0 15px;
        display: inline-block;
    }

    .section-title b {
        display: block;
        flex: 1;
        height: 2px;
        opacity: 0.1;
        background-color: currentColor;
    }

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-partner {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px green;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

    .icon-partner > img {
        height: 48px;
        width: 48px;
    }

.item-text {
    text-align: center;
    margin-top: 15px;
}

    .item-text > h3 {
        font-size: 15px;
        font-weight: bold;
    }

.text-uppercase {
    color: white;
}

.text-reset {
    color: white !important;
}

.text-center > a {
    color: white !important;
}

.text-center > span {
    color: white !important;
}

.text-detail > p > a {
    color: white !important;
    text-decoration: none;
}
