.side-cart-wrap {
    width: 330px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    z-index: 100000;
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    right: 0px;
    box-shadow: 15px;
    height: 100%;
    overflow-y: auto;
}

.close {
    display: flex;
    justify-content: right;
}
/* .product-cart{
    
} */
.title-side-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

    .title-side-cart > h4 {
        text-transform: uppercase;
        font-size: 19px;
        font-weight: 530;
    }

.product-cart {
    display: flex;
}

.delete-icon {
    width: 35%;
    display: flex;
    justify-content: right;
}

.name-product > a {
    text-decoration: none;
    color: #0A0506;
    font-weight: 100;
}

.img-product > img {
    height: 60px;
    width: 60px;
}

.price-product {
    display: flex;
}

    .price-product > span {
        font-size: 13px;
        margin: 5px;
    }

.price {
    color: #adadad;
    font-weight: bold;
}

.total-price {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .total-price > span {
        font-size: 15px;
        font-weight: bold;
    }

.btn-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .btn-wrap > a > button {
        width: 260px;
        height: 45px;
        margin-top: 10px;
        border: none;
        background-color: #3dade1;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
